# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [2]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [3]:
wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
wine_d = wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1)
wine_d

        1     2     4    5     7     9     11
0    14.23  1.71  15.6  127  3.06  2.29  1.04
1    13.20  1.78  11.2  100  2.76  1.28  1.05
2    13.16  2.36  18.6  101  3.24  2.81  1.03
3    14.37  1.95  16.8  113  3.49  2.18  0.86
4    13.24  2.59  21.0  118  2.69  1.82  1.04
..     ...   ...   ...  ...   ...   ...   ...
173  13.71  5.65  20.5   95  0.61  1.06  0.64
174  13.40  3.91  23.0  102  0.75  1.41  0.70
175  13.27  4.28  20.0  120  0.69  1.35  0.59
176  13.17  2.59  20.0  120  0.68  1.46  0.60
177  14.13  4.10  24.5   96  0.76  1.35  0.61

[178 rows x 7 columns]

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) Alcohol <br>
2) Malic acid<br>
3) Ash<br>
4) Alcalinity of ash<br>
5) Magnesium<br>
6) Total phenols<br>
7) Flavanoids<br>
8) Nonflavanoid phenols<br>
9) Proanthocyanins<br>
10)Color intensity<br>
11)Hue<br>
12)OD280/OD315 of diluted wines<br>
13)Proline<br><br>

NOTE: 0th attribute is class identifier - Type of cultivator (1-3)<br>

In [5]:
# wine

In [6]:
wine.columns = ['class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [7]:
wine.head(3)

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

In [8]:
wine['Alcohol'][:3] = np.nan

<ipython-input-8-1a1aa161312b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine['Alcohol'][:3] = np.nan

In [9]:
wine.head(4)

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,NaN,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,NaN,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,NaN,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [10]:
wine['Magnesium'][2:4] = np.nan
wine.head(4)

<ipython-input-10-943e5f835b29>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine['Magnesium'][2:4] = np.nan

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,NaN,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,NaN,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,NaN,2.36,2.67,18.6,NaN,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,NaN,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [12]:
wine['Alcohol'].fillna(10, inplace=True)
wine['Magnesium'].fillna(100, inplace=True)
wine.head(4)

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,10.00,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,10.00,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,10.00,2.36,2.67,18.6,100.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,100.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

### Step 9. Count the number of missing values

In [14]:
wine.isnull().sum()

class                           0
Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [15]:
rand_int= np.random.randint(0,10,10)

In [16]:
rand_int

array([5, 9, 0, 3, 1, 9, 4, 1, 5, 1])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [17]:
wine.iloc[rand_int,:] = np.nan
wine.head(10)

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,10.00,2.36,2.67,18.6,100.0,2.8,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.0,14.39,1.87,2.45,14.6,96.0,2.5,2.52,0.30,1.98,5.25,1.02,3.58,1290.0
7,1.0,14.06,2.15,2.61,17.6,121.0,2.6,2.51,0.31,1.25,5.05,1.06,3.58,1295.0
8,1.0,14.83,1.64,2.17,14.0,97.0,2.8,2.98,0.29,1.98,5.20,1.08,2.85,1045.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [19]:
wine.isnull().sum().sum()
# Total missing values = 84

84

### Step 13. Delete the rows that contain missing values

In [20]:
wine.dropna(how='all',inplace=True)
wine

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
2,1.0,10.00,2.36,2.67,18.6,100.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
6,1.0,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0
7,1.0,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0
8,1.0,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0
10,1.0,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3.0,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,3.0,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,3.0,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,3.0,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,3.0,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

### Step 14. Print only the non-null values in alcohol

In [23]:
# creating bool series False for NaN values
bool_series = pd.notnull(wine["Alcohol"])
 
# displayed data only with team = NaN
wine.Alcohol[bool_series]

2      10.00
6      14.39
7      14.06
8      14.83
10     14.10
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: Alcohol, Length: 172, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [24]:
wine.reset_index(inplace=True,drop=True)
wine.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1.0,10.00,2.36,2.67,18.6,100.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
1,1.0,14.39,1.87,2.45,14.6,96.0,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290.0
2,1.0,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295.0
3,1.0,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0
4,1.0,14.10,2.16,2.30,18.0,105.0,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510.0

### BONUS: Create your own question and answer it.

### Describe the latest dataset

In [25]:
wine.describe(include="all")

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
count,172.00000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.000000,172.00000,172.000000
mean,1.97093,12.952616,2.353081,2.363837,19.618023,99.331395,2.268488,1.992267,0.364419,1.580174,5.024593,0.955674,2.58593,733.267442
std,0.76798,0.836224,1.130725,0.275486,3.286739,14.239002,0.615274,0.994389,0.125354,0.576178,2.337949,0.231999,0.70518,307.857107
min,1.00000,10.000000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.27000,278.000000
25%,1.00000,12.330000,1.597500,2.210000,17.475000,88.000000,1.715000,1.097500,0.270000,1.235000,3.147500,0.777500,1.90500,498.750000
50%,2.00000,12.975000,1.870000,2.360000,19.500000,97.000000,2.265000,2.065000,0.340000,1.540000,4.640000,0.960000,2.77000,660.000000
75%,3.00000,13.632500,3.132500,2.560000,21.500000,107.000000,2.762500,2.790000,0.450000,1.950000,6.147500,1.120000,3.16250,924.250000
max,3.00000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.00000,1680.000000